<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Budget Tracker</title>
    <link rel="icon" type="image/png" href="assets/img/budgetTrackerLogo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poetsen+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <div class="container">
        <header>
            <nav class="header__nav w-120">
                <div class="header__logo">
                    <span>Budget Tracker</span>
                </div>
                <div class="header__nav__content">
                    <div class="nav-close-icon"></div>
                    <ul class="header__menu">
                        <li class="menu__item">
                            <a href="#" class="menu__link active">Home</a>
                        </li>
                        <li class="menu__item">
                            <a href="https://github.com/AkshandraSingh/BudgetTracker" class="menu__link"
                                target="_blank">Github</a>
                        </li>
                        <li class="menu__item">
                            <a href="https://www.instagram.com/akshandra.singh" class="menu__link"
                                target="_blank">Instagram</a>
                        </li>
                        <li class="menu__item">
                            <a href="https://akshandra.onrender.com/" class="menu__link" target="_blank">Developer</a>
                        </li>
                    </ul>
                    <div class="header__signup">
                        <a href="#" class="btn btn__signup">
                            <i class="fas fa-user-plus"></i> Sign Up
                        </a>
                    </div>
                </div>

                <div class="hamburger-menu-wrap">
                    <div class="hamburger-menu">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </nav>
        </header>

        <section class="hero w-120">
            <div class="hero__content">
                <div class="hero__text">
                    <h1 class="hero__title">Most Advance Budget Tracker 💸</h1>
                    <p class="hero__description">
                        The Budget Tracker is a user-friendly application built with Node.js to help you manage your
                        finances effortlessly.
                    </p>
                    <a href="#" class="btn btn__hero">Get Started</a>
                </div>
            </div>
        </section>

        <section class="opportunities">
            <div class="opportunities__img">
                <img src="assets/img/leaf.png" alt="">
            </div>
            <div class="opportunities__content w-105">
                <div class="opportunities__head">
                    <h2 class="opportunities__title">Features 👀</h2>
                    <p class="opportunities__description">Our Best Features and Services for your Finance.</p>
                </div>
                <div class="opportunities__body">
                    <div class="opportunity">
                        <img src="assets/img/features/data.png" alt="Icon" class="opportunity__icon">
                        <h4 class="opportunity__title">Data Visualization</h4>
                        <p class="opportunity__description">Easily view your income and expenses through interactive
                            charts, helping you spot trends and make informed financial
                            decisions.
                        </p>
                    </div>

                    <div class="opportunity active">
                        <img src="assets/img/features/incomeTracking.png" alt="Icon" class="opportunity__icon">
                        <h4 class="opportunity__title">Income Tracking</h4>
                        <p class="opportunity__description">
                            Keep a detailed record of all your income sources. Easily log and monitor your earnings to
                            stay on top of your financial
                            health.
                        </p>
                    </div>
                    <div class="opportunity">
                        <img src="assets/img/features/transactionHistory.png" alt="Icon" class="opportunity__icon">
                        <h4 class="opportunity__title">Transaction History
                        </h4>
                        <p class="opportunity__description">
                            Access a complete history of all your transactions. Review past income and expenses to stay
                            organized and informed about
                            your financial activities.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="invest  w-105">
            <div class="invest__content">
                <div class="invest__head">
                    <h2 class="invest__title">Overview 🎯</h2>
                    <p class="invest__description">Welcome to our Budget Tracker! We are dedicated to helping you manage
                        your finances with ease. Our user-friendly,
                        open-source application built with Node.js allows you to track income and expenses, categorize
                        transactions, and
                        visualize your financial data through interactive charts. Our goal is to provide you with the
                        tools needed to make
                        informed financial decisions and achieve your financial goals.</p>
                </div>
                <div class="invest__body">
                    <div class="invest__item">
                        <div class="invest__item__head">
                            <h5 class="invest__item__subtitle">Key Feature</h5>
                        </div>
                        <div class="invest__item__body">
                            <h4 class="invest__item__title">Best Income Tracking</h4>
                            <p class="invest__item_description">
                                Easily log and monitor your earnings to stay on top of your financial health.
                            </p>
                        </div>
                        <div class="invest__item__footer">
                            <a href="#" class="btn btn__invest">Track Now!</a>
                        </div>
                    </div>
                    <div class="invest__item">
                        <div class="invest__item__head">
                            <h5 class="invest__item__subtitle">Key Feature</h5>
                        </div>
                        <div class="invest__item__body">
                            <h4 class="invest__item__title">Data Visualization
                            </h4>
                            <p class="invest__item_description">
                                Easily view your income and expenses through interactive charts, helping you spot trends
                                and make informed financial
                                decisions.
                            </p>
                        </div>
                        <div class="invest__item__footer">
                            <a href="#" class="btn btn__invest">Start Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="farm-invest w-105">
            <h2 class="farm-invest__title">Track Your <span>Finances</span> on Best Budget Tracker</h2>
            <a href="#" class="btn btn__farm--invest">Track Now!</a>

        </section>

        <footer class="footer">
            <div class="footer__body w-105">
                <nav class="footer__nav">
                    <ul class="footer_nav__menu">
                        <li class="footer_nav__item">
                            <h4 class="footer_nav__menu__title">SOCIAL MEDIA</h4>
                        </li>
                        <li class="footer_nav__item">
                            <a href="https://www.instagram.com/akshandra.singh" class="footer_nav__link"
                                target="_blank">Instagram</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="https://x.com/AkshandraSingh7" class="footer_nav__link" target="_blank">Twitter</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="https://github.com/AkshandraSingh/BudgetTracker" class="footer_nav__link"
                                target="_blank">Github</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="https://akshandra.onrender.com/" class="footer_nav__link"
                                target="_blank">Contact</a>
                        </li>
                    </ul>
                    <ul class="footer_nav__menu">
                        <li class="footer_nav__item">
                            <h4 class="footer_nav__menu__title">DEVELOPER</h4>
                        </li>
                        <li class="footer_nav__item">
                            <a href="https://akshandra.onrender.com/" class="footer_nav__link"
                                target="_blank">Portfolio</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="https://www.instagram.com/akshandra.singh" class="footer_nav__link"
                                target="_blank">Instagram</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="https://x.com/AkshandraSingh7" class="footer_nav__link" target="_blank">Twitter</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="https://github.com/AkshandraSingh" class="footer_nav__link"
                                target="_blank">Github</a>
                        </li>
                    </ul>
                </nav>
                <div class="footer__contact">
                    <h5 class="footer__contact__title">Budget Tracker</h5>
                    <span>Write email to us</span>
                    <a href="mailto:info@zoufarm.com" class="email">nameste380@gmail.com</a>
                    <a href="#" class="btn btn__signin">
                        <i class="far fa-user"></i> Sign In
                    </a>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__bottom__content w-105">
                    <div class="footer__logo">
                        <img src="assets/img/budgetTrackerLogo.png" alt="Logo" id="logo1">
                    </div>
                    <p class="footer_copyright">
                        Created and Manage By Developer Akshandra Singh ❤
                    </p>
                </div>
                <img src="assets/img/mountain.png" alt="Mountain" class="footer_img">
            </div>
        </footer>
    </div>
    <script src="assets/js/main.js" type="module"></script>

</body>

</html>